{% extends 'base.html' %}
{% load static %}

{% block title %}
 bank Status
{% endblock title %}

{% include 'navbar.html' %}

{% block main %}
                    <h3 class="text-dark mb-1"></h3>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" style="font-weight: bold;">Book Your Slot</h4>
                        <h6 class="text-muted card-subtitle mb-2"></h6>
                        <p class="card-text"></p>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title" style="font-size: 18.4px;">Bank</h4>
                                <div class="dropdown" style="transform-style: preserve-3d;"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">Bank</button>
                                    <div class="dropdown-menu"><a class="dropdown-item" href="#">Advancing of Loan</a><a class="dropdown-item" href="#">Collection and payment of credit instruments</a><a class="dropdown-item" href="#">Transfer</a><a class="dropdown-item" href="#">Complaints</a><a class="dropdown-item" href="#">Credit/debit service&nbsp;</a><a class="dropdown-item" href="#">ATM service&nbsp;</a><a class="dropdown-item" href="#"></a></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title" style="font-size: 18.4px;">Branch</h4>
                                <div class="dropdown"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">Branch</button>
                                    <div class="dropdown-menu"><a class="dropdown-item" href="#">Advancing of Loan</a><a class="dropdown-item" href="#">Collection and payment of credit instruments</a><a class="dropdown-item" href="#">Transfer</a><a class="dropdown-item" href="#">Complaints</a><a class="dropdown-item" href="#">Credit/debit service&nbsp;</a><a class="dropdown-item" href="#">ATM service&nbsp;</a><a class="dropdown-item" href="#"></a></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title" style="font-size: 18.4px;">Service</h4>
                                <div class="dropdown"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">Service</button>
                                    <div class="dropdown-menu"><a class="dropdown-item" href="#">Advancing of Loan</a><a class="dropdown-item" href="#">Collection and payment of credit instruments</a><a class="dropdown-item" href="#">Transfer</a><a class="dropdown-item" href="#">Complaints</a><a class="dropdown-item" href="#">Credit/debit service&nbsp;</a><a class="dropdown-item" href="#">ATM service&nbsp;</a><a class="dropdown-item" href="#"></a></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title" style="font-size: 18.4px;">Date</h4><input type="date">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title" style="font-size: 18.4px;">Preferred Time Slot</h4><strong>From&nbsp;</strong><input type="time"><strong></strong>
                            </div>
                        </div><button class="btn btn-primary" type="button" style="background: rgb(225,57,46);">cancel</button><button class="btn btn-primary" type="button" style="background: rgb(73,186,44);">Book Now</button>
                    </div>
                </div>
            </div>
{% endblock main %}